language: go
go:
  - '1.9'
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - 1.14.x
  - 1.15.x
  - 1.16.x
  - 1.17.x
  - 1.18.x
  - 1.19.x
  - 1.20.x
install:
  - echo "$GOPATH"
script:
  - go build github.com/TarsCloud/TarsGo/tars